icefall.egg-info/
data
build
__pycache__
path.sh
exp
exp*/
egs
egs*/
benchmark
benchmark*/
*.pt
download
dask-worker-space
log
*.bak
*-bak
*bak.py

# Ignore Mac system files
.DS_store
._*
#._.DS_Store
#._*.py

# Ignore node_modules folder
node_modules

# ignore .nfs

.nfs*

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

*.param
*.bin
.DS_Store
